.photo{
    object-fit: contain;
}

.card{
    width: 20rem;
    margin: 0 auto;
}

.example-header-image {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTouwCuB4AjiAfwmec9TL4gJEKqXw3pxBDe8g&usqp=CAU");
    background-size: cover;
  }